.createTodoForm {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    background-color: hsl(50 90% 70%);
    color: hsl(280, 100%, 0%);
    border-radius: 1em;
    border: solid 4px #000000;
    padding: 1%;
    margin: 5%;
    box-shadow: #000000 1em 1em 1em 1em;
    transform: translateX(30vw);
  }
  
.createTodoForm h1 {
    text-align: center;
    font-size: 2rem;
  }

  .createInput {
    background-color: hsl(50 90% 70%);
    border: none;
    border-bottom: 2px solid hsl(50 90% 0%);
    outline: none;
    font-size: 1.5rem;
    width: 300px;
  }

  .textarea {
    background-color: hsl(50 90% 70%);
    border: 2px solid hsl(50 90% 0%);
    outline: none;
    font-size: 1.5rem;
    width: 300px;
  }
  
  .button {
    transition: 300ms;
    transform: translateY(30px);
    font-size: 1.7rem;
    background-color: hsl(50 90% 70%);
    color: hsl(50 90% 0%);
    border: none;
    border-radius: .51rem;
}

.button:hover {
    background-color: #000000;
    color: hsl(50 90% 70%);
}